.item-box {
    padding: 5px;
    display: flex;
    align-items: center;
}

.item-image {
    max-width: 100px;
    max-height: 100px;
    margin-right: 10px;
}

.item-name {
    flex: 1;
}

.place-order-button {
    margin-top: 5%;
}
