﻿.media-img {
    max-height: 500px;
    max-width: 500px;
    border-radius: 6px;
    margin: 0 10px 10px 10px;
}

.media-img-wrapper {
    max-width: 500px;
    max-height: 500px;
    text-align: center;
}

.add-to-cart-button {
    margin-left: .5em;
    background-color: #353E48;
    border: none;
}

    .add-to-cart-button:hover {
        color: white;
        background-color: #e0292a;
    }

@media (max-width: 1023.98px) {
    .media {
        flex-direction: column;
    }

    .media-img {
        max-width: 300px;
    }

    .media-img-wrapper {
        width: 100%;
        height: auto;
    }
}
