@page "/login"
@inject IAuthenticationService AuthService
@inject ICartService CartService
@inject ILocalStorageService LocalStorageService
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavigationManager

<div style="margin-top: 6%;">
    <MudContainer Class="justify-content-center">
        <EditForm Model="@user" OnValidSubmit="HandleLogin">
            <DataAnnotationsValidator />
            <MudGrid Justify="Justify.Center">
                <MudItem xs="12" sm="7">
                    <MudCard>
                        <MudCardHeader Class="justify-content-center">
                            <MudText Align="Align.Center" Typo="Typo.h4">Sign In</MudText>
                        </MudCardHeader>
                        <MudCardContent>
                            <MudTextField Label="Email Address" Class="mt-3"
                            @bind-Value="user.Email" For="@(() => user.Email)" />
                            <MudTextField Label="Password" HelperText="Enter your password." Class="mt-3"
                            @bind-Value="user.Password" For="@(() => user.Password)" InputType="InputType.Password" />
                        </MudCardContent>
                        <MudCardActions Class="align-content-center">
                            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Text" FullWidth="true" Class="ml-auto">Login</MudButton>
                        </MudCardActions>
                    </MudCard>
                </MudItem>
                <MudItem xs="6" sm="7">
                    @if (!success)
                    {
                        <MudText Color="@Color.Error" Align="Align.Center">
                            <ValidationSummary />
                        </MudText>
                    }
                </MudItem>
                <MudItem xs="6" sm="7">
                    <MudButton Variant="Variant.Text" OnClick="GoToRegistration">Create an account</MudButton>
                </MudItem>
            </MudGrid>
        </EditForm>
    </MudContainer>
</div>

