.delivery-information-container {
    padding-top: 2%;
    padding-bottom: 1%;
}

.delivery-information {
    padding: 3%;
    position: relative;
}


.delete-button {
    position: absolute;
    top: 5%;
    right: 2%;
}

.edit-button {
    position: absolute;
    top: 5%;
    right: 6%;
}


