@*@page "/admin/items"
@inject IItemService ItemService
@inject NavigationManager NavigationManager
@attribute [Authorize(Roles = "Admin")]

<h3>Products</h3>

@if (ItemService.AdminItems == null)
{
    <span>Loading Items...</span>
}
else
{
    <button class="btn btn-primary float-end" @onclick="CreateItem">
        <i class="oi oi-plus"></i> Add new product
    </button>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Product</th>
                <th>Price</th>
                <th>Visible</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <Virtualize Items="ItemService.AdminItems" Context="item">
                <tr>
                    <td>
                        <img src="@item.Image" />
                    </td>
                <td>@item.Name</td>
                
                <span>@item.Price</span>

                <td>@(item.IsVisible ? "✔️" : "")</td>
                <td>
                    <button class="btn btn-primary" @onclick="(() => EditItem(item.Id))">
                        <i class="oi oi-pencil"></i>
                    </button>
                </td>
            </tr>
        </Virtualize>
    </tbody>
</table>
}
*@