@inject AuthenticationStateProvider AuthenticationStateProvider
@using System.Security.Claims

@if(authorized)
{
    <a class="dropdown-item" href="admin/categories">Categories</a>
    <a class="dropdown-item" href="admin/items">Products</a>
}
