@inject AuthenticationStateProvider AuthenticationStateProvider
@using System.Security.Claims

@if(authorized)
{
    <a class="dropdown-item" href="orders/admin">Orders</a>
    <a class="dropdown-item" href="categories/admin">Categories</a>
    <a class="dropdown-item" href="items/admin">Products</a>
}
