<div class="container">
    <MudCarousel Style="height:500px; width:1000px;"
                 ShowArrows="true"
                 AutoCycle="true"
                 TData="object">

        @*        <MudCarouselItem Transition="Transition.Slide" Color="@Color.Transparent">
        <a href="#" target="_blank">
        <img src="https://pbs.twimg.com/ext_tw_video_thumb/1640174836965343232/pu/img/AWy8tJ0WCTsS42Y7.jpg:large" width="100%" height="100%">
        </a>
        </MudCarouselItem>*@

        <MudCarouselItem Transition="Transition.Slide" Color="@Color.Transparent">
            <MudCard>
                <MudImage Src="https://pbs.twimg.com/ext_tw_video_thumb/1640174836965343232/pu/img/AWy8tJ0WCTsS42Y7.jpg:large" Width="1000" Height="500" />
                <MudCardContent style="position:absolute; top:50%; left: 50%; transform: translate()-50%, -50%);">
                    <MudText>Wanna play like The Slash? Go grab his signature guitar!</MudText>
                </MudCardContent>
            </MudCard>
        </MudCarouselItem>
        <MudCarouselItem Transition="Transition.Slide" Color="@Color.Transparent">
            <MudCard>
                <MudImage Src="https://pbs.twimg.com/ext_tw_video_thumb/1640174836965343232/pu/img/AWy8tJ0WCTsS42Y7.jpg:large" Width="1000" Height="500"/>
                <MudCardContent style="position:absolute; top:50%; left: 50%; transform: translate()-50%, -50%);">
                    <MudText>Wanna play like The Slash? Go grab his signature guitar!</MudText>
                </MudCardContent>
            </MudCard>
        </MudCarouselItem>
        <MudCarouselItem Transition="Transition.Slide" Color="@Color.Transparent">
            <MudCard>
                <MudImage Src="https://pbs.twimg.com/ext_tw_video_thumb/1640174836965343232/pu/img/AWy8tJ0WCTsS42Y7.jpg:large" Width="1000" Height="500" />
                <MudCardContent style="position:absolute; top:50%; left: 50%; transform: translate()-50%, -50%);">
                    <MudText>Wanna play like The Slash? Go grab his signature guitar!</MudText>
                </MudCardContent>
            </MudCard>
        </MudCarouselItem>
    </MudCarousel>
</div>