<div class="container">
    <MudCarousel
    Style="height:500px; width:1000px;" 
    ShowArrows="true" 
    AutoCycle="true" 
    TData="object">

    <MudCarouselItem Transition="Transition.Slide" Color="@Color.Transparent">
        <a href="#" target="_blank">
            <img src="https://pbs.twimg.com/ext_tw_video_thumb/1640174836965343232/pu/img/AWy8tJ0WCTsS42Y7.jpg:large" width="100%" height="100%">
        </a>
    </MudCarouselItem>
    <MudCarouselItem Transition="Transition.Slide" Color="@Color.Transparent">
        <a href="#" target="_blank">
            <img src="https://pbs.twimg.com/ext_tw_video_thumb/1640174836965343232/pu/img/AWy8tJ0WCTsS42Y7.jpg:large" width="100%" height="100%">
        </a>
    </MudCarouselItem>

</MudCarousel>
</div>