@inject ICartService CartService
@inject ISyncLocalStorageService SyncLocalStorageService
@implements IDisposable

<a href="cart" class="btn btn-info">
    <i class="oi oi-cart"></i>
        <span class="badge">@GetCartItemsCount()</span>
</a>