@inject ICartService CartService
@inject ISyncLocalStorageService SyncLocalStorageService
@implements IDisposable

<MudIconButton Href="cart" Icon="@Icons.Material.Filled.ShoppingCart">
        <span class="badge">@GetCartItemsCount()</span>
</MudIconButton>