.carousel {
    padding-top: 2%;
    padding-right: 5%;
    padding-left: 5%;
}

.carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-image-overlay {
    position: absolute;
    top: 20%;
    bottom: 45%;
    left: 10%;
    right: 10%;
    background-color: transparent;
    color: #fff;
}

.message {
    font-size: 90px;
}

.categories-container {
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 5%;
}

.featured-items-container {
    padding-bottom: 10%;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 5%;
}

.header {
    padding-bottom: 1%;
}

.category-container {
    transition: transform 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 200px;
    border-radius: 7px;
}
    .category-container:hover {
        transform: translateY(-5px);
    }

.category-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
    opacity: 0.9;
}

.category-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    color: white;
    padding: 8px;
    opacity: 1;
}

.featured-item-container {
    transition: transform 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
    width: 440px;
    height: 600px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

    .featured-item-container:hover {
        transform: translateY(-5px);
    }

.featured-item-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
    opacity: 0.9;
}


.featured-item-details {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.item-name {
    font-weight: bold;
}

.item-price {
    color: #888;
}

.add-to-cart-button {
    margin-left: auto;
}