@inject IItemService ItemService
@implements IDisposable

<center><h2>Products</h2></center>
@if (ItemService.Items == null || ItemService.Items.Count == 0)
{
    <Loading />
}
else
{
    <div class="container">
        @foreach (var item in ItemService.Items)
        {
            <div class="item">
                <div>
                    <a href="item/@item.Id">
                        <img src="@item.ImageUrl" />
                    </a>
                </div>
                <h4><a href="item/@item.Id">@item.Name</a></h4>
                @if (item != null)
                {
                    <h5 class="price">$@item.Price</h5>
                    <h5 class="quantityInStock">@item.QuantityInStock</h5>
                }
            </div>
        }
    </div>
}