@inject NavigationManager NavigationManager

<div>
    <MudButton Size="Size.Small" OnClick="NavigateToHomePage">
        <MudImage Src="/images/guitar-pick-logo.png" Alt="Logo" Elevation="25" Class="rounded-lg" Style="width: 30px; height: 30px;"/>
    </MudButton>
</div>