@inherits LayoutComponentBase
@inject NavigationManager _navigationManager
@inject AuthenticationStateProvider _authStateProvider

<MudThemeProvider Theme="_currentTheme" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="0" Class="app-bar">
        <MudButton Size="Size.Large" OnClick="NavigateToHomePage">D&D Music</MudButton>
        <MudSpacer />
        <div class="d-flex align-center gap-3">
            <Search />
            <div>
            <MudButton Class="categories-button" Variant="Variant.Text" Size="Size.Medium" OnClick="@(() => DrawerToggle(Anchor.Start))">
                Categories
            </MudButton>
            </div>
            <ContactButton />
            <CartCounter />
            <AccountButton />
            <AuthorizeView>
                <Authorized>
                    <AdminMenu />
                </Authorized>
            </AuthorizeView>
        </div>
    </MudAppBar>

    <MudDrawer @bind-Open="@_drawerOpen"
               Anchor="@anchor"
               Elevation="1"
               Variant="@DrawerVariant.Temporary">
        <MudDrawerHeader>
            <MudText Typo="Typo.h6">Categories</MudText>
        </MudDrawerHeader>
        <CategoriesNavMenu />
    </MudDrawer>

    <MudMainContent Class="body">
        @Body
    </MudMainContent>
</MudLayout>

@code {
    //Drawer
    bool _drawerOpen = false;
    Anchor anchor;

    void DrawerToggle(Anchor anchor)
    {
        _drawerOpen = !_drawerOpen;
        this.anchor = anchor;
    }

    private void NavigateToHomePage()
    {
        _navigationManager.NavigateTo("");
    }

    private MudTheme _currentTheme = new MudTheme()
        {
            Palette = new PaletteLight
            {
                AppbarBackground = "#FAFAFA",
            },
        };
}

