/*::deep .mud-button-text {
    color: white;
    padding: 10px 15px;
    background-color: #353E48;
    border: none;
}

    ::deep .mud-button-text:hover {
        color: white;
        background-color: #e0292a;
    }*/