@inherits LayoutComponentBase
@inject NavigationManager _navigationManager
@inject AuthenticationStateProvider _authStateProvider

<MudThemeProvider Theme="_currentTheme" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="0" Style="padding-left: 2.8%; padding-right: 2.8%;" Class="app-bar">
        <MudButton Size="Size.Large" OnClick="NavigateToHomePage">D&D Music</MudButton>
        <MudSpacer />
        <div class="d-flex align-center gap-3">
            <div>
                <MudButton Class="categories-button" Variant="Variant.Text" Size="Size.Medium" OnClick="@(() => DrawerToggle(Anchor.Start))">
                    Categories
                </MudButton>
            </div>
            <ContactButton />
            <Search />
            <WishlistCounter />
            <CartCounter />
            <AccountButton />
            <AuthorizeView>
                <Authorized>
                    <AdminMenu />
                </Authorized>
            </AuthorizeView>
        </div>
    </MudAppBar>

    <MudDrawer @bind-Open="@_drawerOpen"
               Anchor="@anchor"
               Elevation="1"
               Variant="@DrawerVariant.Temporary">
        <MudDrawerHeader>
            <MudText Typo="Typo.h6">Categories</MudText>
        </MudDrawerHeader>
        <CategoriesNavMenu />
    </MudDrawer>

    <MudMainContent Class="body">
        @Body
    </MudMainContent>

    <footer class="footer">
            <div class="footer-content">
                <div class="footer-section">
                    <h2>About Us</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class="footer-section">
                    <h2>Quick Links</h2>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Products</a></li>
                        <li><a href="#">Services</a></li>
                        <!-- Add more links -->
                    </ul>
                </div>
                <div class="footer-section">
                    <h2>Contact Us</h2>
                    <p>Email: info@example.com</p>
                    <p>Phone: +1234567890</p>
                </div>
            </div>
            <div class="footer-bottom">
                <p>&copy; 2023 Your Company. All rights reserved.</p>
            </div>
    </footer>
</MudLayout>

@code {
    //Drawer
    bool _drawerOpen = false;
    Anchor anchor;

    void DrawerToggle(Anchor anchor)
    {
        _drawerOpen = !_drawerOpen;
        this.anchor = anchor;
    }

    private void NavigateToHomePage()
    {
        _navigationManager.NavigateTo("");
    }

    private MudTheme _currentTheme = new MudTheme()
        {
            Palette = new PaletteLight
            {
                AppbarBackground = "#FAFAFA",
            },
        };
}

